* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    display: flex;
    overflow: hidden;
    justify-items: center;
    align-items: center;
}

img {
    position: relative;
    padding: 1vw;
    border-radius: 3vw;
    display: flex;
    max-width: 33vw;
    max-height: max-content;
}

@media  screen and (max-width: 800px) {
    body {
        flex-direction: column;
    }

    img {
        position: relative;
        display: flex;
        max-width: max-content;
        max-height: 33vh;
    }
}